<!doctype html>
		<html lang="es">
		    <head>
					<meta name="Incendios en España"  content="text/html;"
					http-equiv="content-type" charset="utf-8">
				</head>
	<body>
	  <h1>Incendio de {{ object['COMUNIDAD'] }}</h1>
	  <p>En la comunidad {{ object['COMUNIDAD'] }},
			provincia {{ object['PROVINCIA'] }},
			comarca {{ object['COMARCA'] }},
			municipio {{ object['MUNICIPIO'] }} se quemó una
			superficie forestal de {{ object['SUPQUEMADA'] }}.
			Hubieron {{ object['MUERTOS'] }} muertos y {{ object['HERIDOS'] }}
			heridos. Se detectó en la fecha {{ object['FECHA'] }}. Se pudo
			controlar en {{ object['TIME_CTRL'] }} minutos y extinguir
			en {{ object['TIME_EXT'] }} minutos. La causa del incendio
			fue {{ object['CAUSA'] }}. En la extinción
			del incendio participaron {{ object['PERSONAL'] }} personas,
			{{ object['PESADOS'] }} vehiculos pesados y {{ object['AEREOS'] }}
			medios aereos.</p>
	</body>
		</html>